<div class="lime lighten-3" style="margin-bottom: 0; padding-bottom: 100px">
  <div style="">
    <h1 style="text-align: center; margin-top: 0">About AGILLER</h1>
  </div>
  <div style="max-width: 80%; margin-left: auto; margin-right: auto">
    <h4 class="center">Agiller is Agile Management Platform that helps to improve and manage your project in easy manner.
      we provice backlog handling and sprint planning on here. also you can keep in touch with your scrum team through our 
      chat system. 
    </h4>
  </div>
  <br>
  <br>
  <div>
    <h5 style="text-align: center; margin-top: 0"> This Project is develop Under CMIS 3124 - Web Designing & E-Commerce subject.</h5>
  </div>
  <div style="text-align: center;">
    <img src="../../assets/images/logo.png">
  </div>
</div>