<div>
  <h3>Sprint : {{ name }}</h3>
  <hr>
  <button *ngIf="isMaster && !finished" class="btn btn-warning" (click)="finishSprint()" style="float: right">Mark as Finished</button>
  <button *ngIf="finished" class="btn btn-danger" style="float: right">This is a Finished Sprint</button>

  <label>Created on : </label>
  {{ date }}
  <table class="table">
    <thead>
    <tr>
      <th style="width: 25%">Backlog Id</th>
      <th>User Stories</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr *ngFor="let id of ids; let k=index">
      <th style="width: 25%" scope="row">{{ id }}</th>
      <td>{{ userStories[k] }}</td>
    </tr>
    </tbody>
  </table>
  <button routerLink="/sprints" class="btn btn-success" style="float: right">Go Back</button>

</div>
