<div class="container">

  <h1>Plan Your Scrums here..</h1><br>
  <h2>With us..</h2><br><br>

  <div *ngIf="!authService.isLoggedIn()">
  <button class="btn-success" style="width: 150px; height: 60px; font-size: medium" routerLink="login">Log In Now</button>
  Or
  <button class="btn-success" style="width: 150px; height: 60px; font-size: medium" *ngIf="!authService.isLoggedIn()" routerLink="register">Register Now</button>
  </div>

  <div *ngIf="authService.isLoggedIn()">
    <button class="btn-success" style="width: 150px; height: 60px; font-size: medium" routerLink="dashboard">Go to Dashboard</button>
  </div>

  <img src="https://www.logicspice.com/app/webroot/img/front/Web-Developer.png" class="fix"/>
</div>
