<div class="container">

  <h2 class="page-header">Create a New Project</h2>

  <table class="table">
    <thead>
    <tr>
      <th style="width: 25%">Project Name</th>
      <th>Add Project Members</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th style="width: 25%" scope="row"><input required placeholder="Enter project name" name="id" ng [(ngModel)]="projectname" type="text" class="form-control" style="width: 200px"></th>
      <td>
        <input required placeholder="Search for the members here" name="userstories" [(ngModel)]="members" (keyup)="suggestMembers()" type="text" class="form-control" list="suggestions">
        <datalist id="suggestions">
          <option *ngFor="let user of suggestions" value="{{ user.username }}, " text="{{ user.name }}">
        </datalist>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>

  <h4>Create Product Backlog</h4>

  <table class="table">
    <thead>
    <tr>
      <th style="width: 25%">Backlog Id</th>
      <th>Description</th>
      <th>Est. Time (Weeks)</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr *ngFor="let count of rows; let i = index">
      <th style="width: 25%" scope="row"><input name="id" ng [(ngModel)]="ids[i]" type="text" class="form-control" style="width: 200px"></th>
      <td><input name="userstories" [(ngModel)]="description[i]" type="text" class="form-control"></td>
      <td style="width: 20%"><input name="userstories" [(ngModel)]="time[i]" type="text" class="form-control"></td>
    </tr>
    <!--<tr>-->
      <!--<th style="width: 25%" scope="row"><input name="id" [(ngModel)]="ids[1]" type="text" class="form-control" style="width: 200px"></th>-->
      <!--<td><input name="userstories" [(ngModel)]="description[1]" type="text" class="form-control"></td>-->
      <!--<td style="width: 20%"><input name="userstories" [(ngModel)]="time[1]" type="text" class="form-control"></td>-->
    <!--</tr>-->
    </tbody>
  </table>

  <button (click)="addRows()" class="btn btn-primary" style="float: left">Add Rows</button>


  <button (click)="onCreateSubmit()" class="btn btn-success" style="float: right">Create Project</button>
  <button routerLink="/dashboard" class="btn btn-info" style="float: right">Cancel</button>
</div>
