<div class="grey lighten-2" style="margin: 0 auto;text-align: center">
  <h3 style="margin-top: 0; padding-top: 15px">My Projects</h3>
  <hr>
  <div class="col s12"  *ngIf="isAvailable" style="height: 500px; max-width: 80%;padding-top: 50px; margin-left: auto; margin-right: auto">
    <div class="row">
      <div class="col s3 m3" *ngFor="let item of projects" style="">
        <div class="{{getRandomClasses()}} projects" (click)="projectClicked(item)" style="height: 200px">
          <h4>{{ item.projectName }}</h4>
          <hr style="border-color: black">
          <span> {{ item.projectDesc }}</span>
        </div>
      </div>
    </div>  
  </div>
  <div *ngIf="!isAvailable" style="top: 20px; height: 500px">
    <span style="font-size: x-large" class="watermark">Oops!! You dont have projects :P</span>
    <div class="bottom" style="float: right">
      <img src="../../../assets/images/cry.png" width="400" height="400">
    </div>
  </div>
</div>

<app-chatwrap></app-chatwrap>

<!--<div class="conatainer grey lighten-2" style="width: 80%; margin: 0 auto;">
  <h3>My Projects</h3>
  <hr>

  <div class="col-sm-12"  *ngIf="isAvailable" style="height: 500px;">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of projects">
        <div class="well text-{{ getRandomClasses() }}" (click)="projectClicked(item)" style=" background-color: #f2f2f2">
          <h4>{{ item.projectName }}</h4><hr style="border-color: black">

          <span>Nice projects mate</span>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isAvailable">
    <span style="font-size: x-large" class="watermark">Oops!! You dont have projects :P</span>
    <div class="bottom" style="float: right">
      <img src="../../../assets/images/cry.png" width="400" height="400">
    </div>
  </div>
</div>-->

<div class="fixed-action-btn" *ngIf="isMaster" style="margin-right: 160px">
  <a class="btn-floating btn-large green" routerLink="/createProject">
    <i class="large material-icons">add</i>
  </a>
</div>

<!--<div class="fixed-action-btn" *ngIf="isLogged" style="margin-right: 80px">
  <a class="btn-floating btn-large blue btn tooltipped" data-position="top" data-delay="50" data-tooltip="Chat with your team" (click)="chatdiv(sidediv)">
    <i class="large material-icons">chat</i>
  </a>
</div>-->

<!--<div class="container" style="height: 80%;">
  <div class="row container">

    Projects pane
    <div class="col-sm-3" style="height: 500px; position: relative;">

      <div style="margin: 0 auto;">
        <h3 style="text-align: center; color: black">My Projects</h3>
        <hr style="color: black">
        <ul style="list-style: none;">
          <li *ngFor="let item of projects">
            <a (click)="projectClicked(item)">
              <div style="font-size: medium">
                <img src="http://localhost:3000/images/doc.png" alt='missing' width="40" height="40"/>
                {{ item.projectName }}
              </div>
            </a>
            <hr>
          </li>

        </ul>

        <div id="inner" style="margin: 0 auto;">
          <button *ngIf="isMaster" class="btn-round" style="margin-bottom: 15px; margin-right: 2px; width: 200px; position: absolute; bottom: 0; right: 0" routerLink="/createProject">
            <img src="http://localhost:3000/images/plus.png" width="37" height="37">
            New Project
          </button>
        </div>
      </div>

    </div>

    Main content pane
    <div class="col-sm-6" style="height: 500px; position: relative; background-color: #5b9496;">
      <h3>Sprints</h3>
      <hr>

      <app-loadsprints></app-loadsprints>

      <button *ngIf="isMaster" class="btn-round" style="margin-bottom: 15px; margin-right: 3px; width: 200px; position: absolute; bottom: 0; right: 0" routerLink="/createSprint">
        <img src="http://localhost:3000/images/plus.png" width="37" height="37">
        New Sprint
      </button>
    </div>

    chat pane
    <div class="col-sm-3" style="background-color: #d9edf7; height: 500px;">
      <h3 style="text-align: center">Chat</h3>
      <app-chat></app-chat>
    </div>
  </div>
</div>-->
