<!--<footer class="footer">-->
  <!--<div class="container" style="width:800px; margin:0 auto; text-align: center;">-->
    <!--<span class="text-muted">&copy; Agilerr Inc. 2017</span>-->
  <!--</div>-->
<!--</footer>-->

<footer class="footer">
  <div class="container">
    <p class="text-muted" style="text-align: center">&copy; Agilerr Inc. 2017</p>
  </div>
</footer>


<!--<div class="u-fixed u-bottom0 u-sizeFullWidth u-backgroundWhite u-boxShadowTop u-borderBox u-paddingTop10 u-paddingBottom10 u-zIndexMetabar u-xs-paddingLeft10 u-xs-paddingRight10 js-stickyFooter">-->
  <!--<div class="u-maxWidth700 u-marginAuto u-flexCenter">-->
    <!--<div class="u-fontSize16 u-flex1 u-flexCenter">-->
      <!--<div class="u-flex0 u-inlineBlock u-paddingRight20 u-xs-paddingRight10">-->
        <!--<a class="link avatar u-inline u-baseColor&#45;&#45;link" href="https://medium.com/@caroso1222" data-action="show-user-card" data-action-value="e189cfcbca3c" data-action-type="hover" data-user-id="e189cfcbca3c" dir="auto">-->
          <!--<img src="https://cdn-images-1.medium.com/fit/c/80/80/0*FcxkVctM_vQSkuZp.jpeg" class="avatar-image avatar-image&#45;&#45;smaller" alt="Go to the profile of Carlos Roso">-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="u-flex1 u-inlineBlock">-->
        <!--<div class="u-xs-hide">-->
          <!--Never miss a story from<strong> Carlos Roso</strong>, when you sign up for Medium.-->
          <!--<a class="link link&#45;&#45;accent u-accentColor&#45;&#45;textNormal u-accentColor&#45;&#45;textDarken u-baseColor&#45;&#45;link" href="https://medium.com/@Medium/personalize-your-medium-experience-with-users-publications-tags-26a41ab1ee0c#.hx4zuv3mg" data-action-source="sticky_footer">-->
            <!--Learn more-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="u-xs-show">Never miss a story from<strong> Carlos Roso</strong></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="u-marginLeft50 u-xs-marginAuto">-->
      <!--<span class="followState js-followState" data-user-id="e189cfcbca3c">-->
        <!--<button class="button u-noUserSelect button&#45;&#45;withChrome u-baseColor&#45;&#45;buttonNormal button&#45;&#45;withHover button&#45;&#45;unblock js-unblockButton u-uiTextSemibold u-textUppercase u-fontSize12" data-action="sign-up-prompt" data-sign-in-action="toggle-block-user" data-requires-token="true" data-redirect="https://medium.com/@caroso1222/angular-pro-tip-how-to-dynamically-create-components-in-body-ba200cc289e6" data-action-source="sticky_footer">-->
          <!--<span class="button-label  button-defaultState">Blocked</span>-->
          <!--<span class="button-label button-hoverState">Unblock</span>-->
        <!--</button>-->
        <!--<button class="button button&#45;&#45;primary is-active u-noUserSelect button&#45;&#45;withChrome u-accentColor&#45;&#45;buttonNormal button&#45;&#45;follow js-followButton u-uiTextSemibold u-textUppercase u-fontSize12" data-action="sign-up-prompt" data-sign-in-action="toggle-subscribe-user" data-requires-token="true" data-redirect="https://medium.com/_/subscribe/user/e189cfcbca3c" data-action-source="sticky_footer-e189cfcbca3c-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;follow_metabar">-->
          <!--<span class="button-label  button-defaultState js-buttonLabel">Follow</span>-->
          <!--<span class="button-label button-activeState">Get updates</span>-->
        <!--</button>-->
      <!--</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
