<div style="background-image: url('../../../assets/images/log-back.jpg') ; margin: o;">
    <div class="input-field col s6 center-align" style="max-width: 50%; margin-left: auto; margin-right: auto; padding-bottom: 15px;margin-top: 0; margin-bottom: 0">
      <h1 style="margin: 0">AGILERR</h1>
      <h3>Login with your credentials!</h3>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
      <br>
      <form class="" (submit)="onLoginSubmit()">
        <div class="row">
          <div class="input-field">
            <input style="color:white;font-size: 20px;" id="username" type="text" class="validate" [(ngModel)]="username" name="username">
            <label style="color:white;font-size: 20px;" for="username">Enter Your Username</label>
          </div>
          <div class="input-field">
            <input style="color:white;font-size: 20px;" id="password" type="password" class="validate" [(ngModel)]="password" name="password">
            <label style="color:white;font-size: 20px;" for="password">Enter Your Password</label>
          </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Login">
      </form>
    </div>
</div>
