<div>
  <h3>Create a New Sprint for {{ projectName }}</h3>
  <hr>

  <label>Sprint Name: </label>
  <input name="name" [(ngModel)]="sprintName" type="text" class="form-control" style="width: 250px">
  <label>Goes under: </label>
  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ backlogItem }}
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li *ngFor="let description of backlogDesriptions"><a (click)="setBacklogItem(description)"> {{ description }}</a> </li>
        <!--<li><a (click)="setPriority('high')">High</a></li>-->
        <!--<li><a (click)="setPriority('medium')">Medium</a></li>-->
        <!--<li><a (click)="setPriority('low')">Low</a></li>-->
      </ul>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th style="width: 25%">Sprint Id</th>
      <th>User Stories</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr *ngFor="let count of rows; let i = index">
      <th style="width: 25%" scope="row"><input name="id" ng [(ngModel)]="ids[i]" type="text" class="form-control" style="width: 200px"></th>
      <td><input name="userstories" [(ngModel)]="userStories[i]" type="text" class="form-control"></td>
    </tr>
    <!--<tr>-->
      <!--<th style="width: 25%" scope="row"><input name="id" [(ngModel)]="ids[1]" type="text" class="form-control" style="width: 200px"></th>-->
      <!--<td><input name="userstories" [(ngModel)]="userStories[1]" type="text" class="form-control"></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th style="width: 25%" scope="row"><input name="id" [(ngModel)]="ids[2]" type="text" class="form-control" style="width: 200px"></th>-->
      <!--<td><input name="userstories" [(ngModel)]="userStories[2]" type="text" class="form-control"></td>-->
    <!--</tr>-->
    </tbody>
  </table>
  <button (click)="addRows()" class="btn btn-primary" style="float: left">[+] Add Rows</button>
  <button (click)="createSprint()" class="btn btn-info" style="float: right">Create Sprint</button>
  <button routerLink="/sprints" class="btn btn-success" style="float: right">Cancel</button>

</div>
