<h1>Privacy Policy</h1>

<h3>General Information</h3>

<p>We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). </p>

<h3>Information Gathering and Usage</h3>

<p>When you register for <strong>AGILERR</strong> we ask for information such as your name, email address, billing address, or payment information. Members who sign up for the free account are not required to enter any payment details.</p>