<div class="chatbox">
  <div style="border-style: solid; border-color: #c7254e; border-radius: 5px">

    <div style="background-color: #c7254e; height: 50px; margin-top: 0">
      <h4>{{ projectName }}</h4>
    </div>

    <div class="chatlogs" id="chatter">

      <div class="chat friend" *ngFor="let msg of msgs" [ngClass]="(msg.username==username)?'chat self':'chat friend'">

        <div class="user-photo">
          <img class="user-photo" src="http://localhost:3000/images/profile/{{ msg.username }}" onerror="this.src='http://localhost:3000/images/profile/default.gif';">
        </div>

        <div class="chat-message">
          <span style="font-size: small">{{ msg.username }}</span><hr>
          <p>{{ msg.msg }}</p>
        </div>

      </div>

    </div>

    <div class="chat-form blue-grey" style="margin:0; padding: 10px">
      <textarea [(ngModel)]="text" (keyup.enter)="sendmsg()"></textarea>
      <button (click)="sendmsg()">Send</button>
    </div>

  </div>
</div>
